$note-default: #FFFFE0;

* {
  box-sizing: border-box;
}
.hidden {
  position: absolute;
  width:0;
  height:0;
  left:-100000000px;
}
.one-column {
  width:100%;
}
.spacer-1 {
  width:100%;
  height:rem(10);
}
.spacer-2 {
  width:100%;
  height:rem(20);
}
.spacer-3 {
  width:100%;
  height:rem(30);
}
.spacer-4 {
  width:100%;
  height:rem(40);
}
.b-tight {
  margin-bottom:8px;
}
.b-cozy {
  margin-bottom:12px;
}
.b-comfortable {
  margin-bottom:18px;
}
.b-loose {
  margin-bottom:24px;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  display:block;
  margin:0 auto;
}
.hidden {
  position: absolute;
  left:-1000000px;
  overflow:hidden;
  width:0;
  height:0;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  margin:auto;
}
.app {
  max-width:1100px;
}
h2 {
  font-size:16px;
  margin:0;
  font-weight:bold;
}
.label {
  font-size:14px;
  color:$dark;
  font-weight:500;
}
.letter-board {
  display:flex;
  // border:1px solid red;
  align-items:flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  margin:0 0 80px 0;
}
.letter {
  flex-shrink: 1;
  width:70px;
  height:70px;
  margin:2px;
  padding:22px;
  text-align: center;
  border:2px solid $light;
  border-radius: 50%;
  font-size:20px;
  font-weight:700;
  color:$med;
}
.letter.active {
  color:$white;
  background-color:lighten($button, 55%);
  box-shadow: inset -3px -3px 20px rgba($button, .4);
  mix-blend-mode: multiply;
  color:$black;
  transition:color .2s, box-shadow .3s, background-color .4s;
  border:2px solid rgba($button, .25);
}
.rotors-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin:0 0 36px;
}
.rotor-selectors-wrapper {
  margin:0 17px 0;
  position: relative;
  &::after {
    display: block;
    content: "";
    width:6px;
    height:140px;
    border-top:1px solid $light;
    border-right:1px solid $light;
    border-bottom:1px solid $light;
    position: absolute;
    top:58px;
    right:-12px;
  }
  .notes-picker-icn {
    margin:0 0 10px;
  }
  h2 {
    display: block;
    margin-bottom: 8px;
  }
}
.rotor-selectors-wrapper.active {
  &::after {
    border-top:1px solid $button;
    border-right:1px solid $button;
    border-bottom:1px solid $button;
  }
}
.rotor-labels-wrapper {
  flex-direction: column;
  display:flex;
  justify-content: space-between;
  margin-bottom: 23px;
  margin-top:27px;
  .label {
    height:59px;
    padding:22px 0 0;
  }
}
.rotor-container, .rotor-selector {
  display:flex;
  position: relative;
  align-items: center;
  flex-direction:row-reverse;
  justify-content: center;
  width:100%;
  margin:0 auto 80px;
  padding:0 0 20px;
}
// .rotor-selector {
//   border:1px solid red;
//   margin:0 auto;
//   flex-wrap: wrap;
//   width:auto;
//   margin:0 0 6px 0;
//   padding: 0;
//   justify-content: center;
//   position: relative;
//   &::after {
//     display: block;
//     content: "";
//     width:6px;
//     height:140px;
//     border-top:1px solid $button;
//     border-right:1px solid $button;
//     border-bottom:1px solid $button;
//     position: absolute;
//   }
//   &:nth-child(1) {
//     &::after {
//       left:126px;
//       top:24px;
//     }
//   }
//   &:nth-child(2) {
//     &::after {
//       left:318px;
//       top:-36px;
//     }
//   }
//   &:nth-child(3) {
//     &::after {
//       left:508px;
//       top:-106px;
//     }
//   }
//   .header {
//     font-size:18px;
//     font-weight:bold;
//   }
//   .label {
//     width:120px;
//     height:60px;
//     order:6;
//     padding:22px 0 0;
//     text-align: right;
//     margin:0 12px 0 0;
//     position: absolute;
//     left:-140px;
//   }
// }
.plugboard-container {
  // border:1px solid blue;
  display:flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width:836px;
  margin:0 auto;
  // justify-content: flex-start;
  .label {
    flex-shrink: 0;
    flex-basis: 100%;
    margin:0 0 12px;
  }
}
.plugboard-pair {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  justify-content: center;
  flex-shink:0;
  flex-grow: 0;
  position: relative;
  margin:0 18px 36px;
  &:nth-child(2) {
    margin-left:0px;
  }
  &:nth-child(4) {
    margin-right:0px;
  }
  &:nth-child(5) {
    margin-left:0px;
  }
  &:last-child {
    margin-right:0px;
  }
  &::after {
    display: block;
    content:"";
    width:130px;
    height:6px;
    border-left:1px solid $button;
    border-right:1px solid $button;
    border-bottom:1px solid $button;
    position: absolute;
    bottom:-12px;
    opacity: 1;
    transition: color .2s;
  }
  .notes-picker-icn {
    margin:0 12px;
    &:first-child {
      margin-left:0px;
    }
    &:last-child {
      margin-right:0px;
    }
  }
}
.plugboard-pair.inactive {
  &::after {
    border-left:1px solid $light;
    border-right:1px solid $light;
    border-bottom:1px solid $light;
  }
}
.save-tools-container {
  width:calc(135px * 3);
  margin:0 auto 48px;
  .label {
    flex-basis:100%;
    flex-shrink: 0;
    flex-grow: 1;
    display:block;
    margin: 0 0 8px 0;
  }
  button {
    &:first-of-type {
      margin-left:0;
    }
    &:last-of-type {
      margin-right:0;
  }
  }
}
// .backdrop {
//   background: $white;
//   width:0;
//   height:0;
//   position: absolute;
//   right:-100000000;
//   opacity:0;
//   background-image: linear-gradient(hsla(0, 0%, 100%, 0) 0%, hsla(221.1, 52.3%, 98.8%, 0.006) 9.7%, hsla(221.1, 52.3%, 95.9%, 0.02) 18.3%, hsla(221.1, 52.3%, 92.4%, 0.04) 25.7%, hsla(221.1, 52.3%, 88.7%, 0.062) 32.2%, hsla(221.1, 52.3%, 85.2%, 0.086) 37.9%, hsla(221.1, 52.3%, 81.9%, 0.111) 43.1%, hsla(221.1, 52.3%, 78.9%, 0.138) 47.9%, hsla(221.1, 52.3%, 76.1%, 0.164) 52.4%, hsla(221.1, 52.3%, 73.7%, 0.19) 57.2%, hsla(221.1, 52.3%, 71.5%, 0.215) 62.4%, hsla(221.1, 52.3%, 69.6%, 0.239) 68.2%, hsla(221.1, 52.3%, 68%, 0.262) 74.7%, hsla(221.1, 52.3%, 66.7%, 0.281) 82.2%, hsla(221.1, 52.3%, 65.8%, 0.295) 90.9%, hsla(221.1, 52.3%, 65.5%, 0.3) 100%);
//   background-position: left 150px;
//   background-repeat: no-repeat;
// }
// .backdrop.active {
//   background-color: rgba($white, .8);
//   width:100vw;
//   height:100vh;
//   position: fixed;
//   top:0;
//   transition: background-color .2s, background-position .7s ease-in-out;
//   left:0;
//   opacity:1;
//   background-position: left 0;
// }
.dialog {
  top:33vh;
  left:0;
  right:0;
  max-width:500px;
  padding:24px;
  border-radius: 4px;
  z-index:200;
  position: absolute;
  background-color: rgba($button, .8);
  color:$white;
  box-shadow:0 0 20px rgba($black, .3);
  margin:auto;
  transform: translateY(10px);
  opacity:0;
  left:-100000px;
}
.dialog.active {
  left:0;
  right:0;
  top:38%;
  margin:auto;
  animation-name: fade-in;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.02,.06,.24,.9);
  animation-fill-mode: forwards;
}
// .backdrop.active {
//    .dialog {
//   opacity:1;
//   transform: translateY(0);
//   transition: transform .3s ease-in-out, opacity .2s ease-in-out;
//    }
// }
.forms-wrapper {
  display: flex;
  flex-wrap: wrap;
   @media screen and (min-width:em(400)) {
      flex-wrap: nowrap;
    }
}
.notes-picker-icn {
  font-family: $mono;
  font-weight:700;
  height:60px;
  width:120px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  top:0;
  margin:0 36px;
  &:nth-child(2) {
    margin-right:0;
  }
  &:last-child {
    margin-left:0;
  }
  .notes-colors {
    width:100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top:0;
    height:60px;
    background-color: white;
    transition: opacity .2s;
    margin:0;
    padding:0;
    border-top:1px solid $med;
    font-size:18px;
    li {
      color:$black;
      padding:17px 0;
      border-bottom:1px solid $med;
      border-left:1px solid $med;
      border-right:1px solid $med;
      text-align: center;
      order:1;
      left:-100000000px;
      opacity:0;
      position:absolute;
      width:100%;
      list-style-type: none;
      margin:0;
      height:60px;
      background-color: white;
      cursor: pointer;
    }
    li.active {
      order: 0;
      color: $dark;
      opacity: 1;
      left:0;
      color:$button;
      background-image:url("/siteart/chevron_gray.svg");
      background-repeat: no-repeat;
      background-position: center 82%;
    }
    li.hidden {
      display:none;
      position: absolute;
      left:-10000000;
    }
  }
  &:hover {
    .notes-colors {
      border-bottom:1px solid $med;
      height:286px;
      overflow-y:scroll;
      z-index: 2;
      transition: opacity .2s;
      box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.2);
      li {
        left:0;
        opacity: 1;
        transition: opacity .3s;
        position:static;
        &:hover {
          background-color:lighten($button, 50);
          transition: background-color .2s;
        }
        &:last-child {
          border-bottom:0px;
        }
      }
      li.active {
        order:1;
        color:white;
        background-color: $button;
        background-image: none;
        padding:17px 0;
        &:hover {
          background-color: $button;
          color:$white;
          transition: background-color .2s;
        }
      }
      li.active.placeholder {
        display:none;
        position: absolute;
        left:-10000000;
      }
      li.disabled {
        color:white;
        background-color: white;
        cursor:not-allowed;
        color:$light;
        background-image:url("/siteart/chevron_bg.svg");
        background-position: top -8px;
        background-repeat:repeat;
      }
    }
  }
}
.notes-picker-icn.inactive {
  overflow:hidden;
  border-bottom:1px solid $light;
  background-color: $white;
  .notes-colors {
    overflow:none;
    box-shadow: none;
    border-top:1px solid $light;
    position: relative;
    li {
      cursor: not-allowed;
      border-bottom:1px solid $light;
      border-left:1px solid $light;
      border-right:1px solid $light;
      display:none;
      position: absolute;
      left:-1000000px;
      &:hover {
        background-color: $white;
      }
    }
    li.active {
      color: $light;
      background-image:url("/siteart/chevron_bg.svg");
      background-position: -4px top;
      background-repeat:repeat;
      background-color: $white;
      border-top:1px solid $white;
      display:block;
      position: absolute;
      top:0;
      left:0;
      &:hover {
        background-color: $white;
        color:$light;
      }
    }
    &:hover {
      overflow:hidden;
      .notes-colors {
        border-bottom:1px solid $light;
          li {
            &:hover {
              background-color:white;
            }
          }
        }
      }
    }
  }
  .notes-picker-icn.no-val {
    border-bottom:1px solid $light;
    background-color: $white;
    .notes-colors {
      border-top:1px solid $light;
      li {
        border-bottom:1px solid $light;
        border-left:1px solid $light;
        border-right:1px solid $light;
      }
      li.active {
        color: $med;
        // background-image:none;
        &:hover {
          background-color:lighten($button, 50);
          color:$dark;
        }
      }
    }
    &:hover {
      .notes-colors {
        // border-bottom:1px solid $med;
        // height:286px;
        // overflow-y:scroll;
        // z-index: 2;
        // transition: opacity .2s;
        // box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.2);
        li {
          // left:0;
          // opacity: 1;
          // transition: opacity .3s;
          // position:static;
          &:hover {
            // background-color:lighten($button, 50);
            // transition: background-color .2s;
          }
          &:last-child {
            // border-bottom:0px;
          }
        }
        li.active {
          background-image:none;
          color:white;
          // order:1;
          // color:white;
          // background-color: $button;
          // background-image: none;
          // padding:17px 0;
          &:hover {
            color:$dark;
            // background-color: $button;
            // color:$white;
            // transition: background-color .2s;
          }
        }
        li.disabled {
          // color:white;
          // background-color: white;
          // cursor:not-allowed;
          // color:$light;
          // background-image:url("/siteart/chevron_bg.svg");
          // background-position: top -8px;
          // background-repeat:repeat;
        }
      }
    }
  }
.notes-picker-icn.animate {
  animation-name: animateIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
@keyframes animateIn {
  0% {
    box-shadow:0;
  }
  30% {
    box-shadow: 0 0 8px rgba($button, .3);
  }
  100% {
    box-shadow:0;
  }
}
button.btn {
  border:1px solid $button;
  background-color: $white;
  border-radius: 5px;
  font-size:12px;
  color:$button;
  letter-spacing:.07em;
  text-transform:uppercase;
  font-weight:200;
  width:128px;
  margin:0 5px 10px;
  height:42px;
  &:hover {
    background-color: $button;
    color:$white;
    transition: background-color .2s, color.2s;
    background-image: none;
  }
  &:active {
    background-image: none;
    transition: background-color .0s, color .0s;
  }
  &:disabled {
    border:1px solid $light;
    color:$light;
    background-image:url("/siteart/chevron_bg.svg");
    background-position: -4px top;
    background-repeat:repeat;
    transition: background-color .0s, color .0s;
    &:hover {
      background-color: $white;
      color:$light;
      cursor:not-allowed;
    }
  }
}
button.btn.primary {
  border:2px solid $button;
  font-weight:700;
  &:disabled {
    border:1px solid $light;
  }
}
button.btn-small {
  border:0px;
  background-color:transparent;
  color:$button;
  margin:auto;
  text-transform:uppercase;
  letter-spacing:.05rem;
  display:block;
  font-size:10px;
}
button:disabled.btn-small {
  color:$light;
  transition: color .2s;
  cursor: not-allowed;
}
.toast {
  position: absolute;
  left:-1000000px;
  max-width:500px;
  padding:24px;
  width:100%;
  text-align:center;
  font-size:18px;
  font-weight:bold;
  border-radius:5px;
  background-color: rgba($button, .8);
  color:$white;
  box-shadow:0 0 20px rgba($black, .3);
  opacity:0;
  z-index:2;
  transform:translateY(-20px);
}
.toast.active {
  position:fixed;
  top:38%;
  left:0;
  right:0;
  margin:0 auto;
  animation-name: fade-in-out;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(.02,.06,.24,.9);
  animation-fill-mode: forwards;
}
@keyframes fade-in-out {
  0% {
    opacity:0;
    transform:translateY(15px);
  }
  15% {
    opacity:1;
  }
  50% {
    opacity:1;
  }
  100% {
    transform:translateY(-50px);
    opacity:0;
  }
}

@keyframes fade-in {
  0% {
    opacity:0;
    transform:translateY(15px);
  }
  100% {
    transform:translateY(0px);
    opacity:1;
  }
}


.decode-interface-wrapper {
    // position:absolute;
    // width:0px;
    // height:0px;
    // overflow:hidden;
    // left:-100000000px;
    // opacity:0;
    // transform: translateY(20px);
}

.decode-interface-wrapper.active {
  position:absolute;
  margin:0 auto;
  top:36px;
  left:0;
  right:0;
  height:calc(100vh - 36px);
  max-width:1000px;
  width:100%;
  padding:60px;
  background-color:rgba($white, .8);
  box-shadow:0 10px 28px rgba($black, .3);
  transform: translateY(0);
  opacity:1;
  transition:opacity .2s ease-in-out, transform .4s ease-in-out;
}

.output {
  border:1px solid red;
}
