<!-- Note: The contents of this file is prototype code created by Cantina and is not intended to be used in prodution. -->
<!doctype html>
<html class="no-js" lang="">
    @@include('../html_partials/common/head.html')
    <body>
      @@include('../html_partials/common/svg_sprite_embed.html')
        <!-- Add your site or application content here -->
        <main class="main">
          @@include('../html_partials/app.html')

        </main>
    </body>
    @@include('../html_partials/common/js_links.html')


    <script>
    (function() {
      // "use strict";
      // pageFunctions.intialize();
    })();
    </script>
</html>
